<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
<ul class="list">

  <li class="item item-toggle">
     Push Notifications
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-checked="checked('settings.push')" ng-click="flip('settings.push')">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
Text Notifications
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-checked="checked('settings.text')" ng-click="flip('settings.text')">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
E-mail notifications
  <label class="toggle toggle-assertive" >
    <input type="checkbox" ng-checked="checked('settings.email')" ng-click="flip('settings.email')">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>

  </ion-content>
</ion-view>
