<ion-view title="Tracker">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1 class="cardCentre" >Order Tracker</h1>

    <div class="card">
      <div class="item item-divider">
        <i class="icon ion-calendar"></i>

<b class="cardCentre">Current Delivery date: 23/05/2014</b>
</div>


</div>



    <div class="card">
      <div class="item item-divider">
        <i class="icon ion-loading-b"></i>

<b class="cardCentre">Dealer Order</b>
</div>

  <div class="item item-text-wrap">
Your Dealer is processing the order with the manufacturer.</div>
</div>


<div class="card">
  <div class="item item-divider">
    <i class="icon ion-checkmark-round"></i>

<b class="cardCentre">Factory Order</b>
  </div>
<div class="item item-text-wrap">

Your vehicle is being built to your specifications.</div>
</div>


<div class="card">
  <div class="item item-divider">
    <i class="icon ion-model-s"></i>

    <b class="cardCentre">Dealer Stock</b>
</div>

<div class="item item-text-wrap">
  Your vehicle has arrived into Dealer Stock and is currently being registered, inspected and made ready for delivery. The application will be updated shortly with a delivery date.

</div>
</div>


<div class="card">
  <div class="item item-divider">
    <i class="icon ion-home"></i>
    <b class="cardCentre">Delivery Confirmed</b>
</div>
<div class="item item-text-wrap">

A delivery date has been agreed. Please ensure you have read the T+Cs for the return of your vehicle (if applicable). </div>
</div>



  </ion-content>
</ion-view>
