/* Empty. Add your own CSS if you like */


body{
  width:100%;
}

.geLogo{
    max-height:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.header{
  font-family:"Lucida Handwriting",Lucida,sans-serif;
  font-size:18px;
  text-align:center;
}

.cardCentre{
  text-align:center;

}

.head{
  max-height:200px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  z-index:-99;
}

.cardImages{
  max-height:80px;
  max-width:100px;
  position:relative;
  display:block;
  left:90%;
  bottom:30%;
  border-style:solid;
  border-width:1px;
  color:#79CDCD;
}
